.custom-link {
    color: #4f9cf9;
    text-decoration: none;
  }
  
  .custom-link:hover {
    color: #1c6bba;
    text-decoration: underline;
  }
  
  .custom-link:active {
    color: #f94f4f;
  }
  