@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  background-color: black;
  color: black;

  @media (prefers-color-scheme: dark) {
    background-color: #1a202c; /* equivalent to dark:bg-gray-950 */
    color-scheme: dark;
  }
}
