@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  background-color: black;
  color: black;

  @media (prefers-color-scheme: dark) {
    background-color: #1a202c; /* equivalent to dark:bg-gray-950 */
    color-scheme: dark;
  }
}

/* Hide scrollbar for mobile horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
